<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/d3.v5.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        body {
            background-image: url({% static 'img/green_background.png' %});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 100% auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/polls">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/polls/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/polls/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if form.errors %}
    <div class="alert alert-dismissible alert-danger" id="err_login">
        <button type="button" class="close" data-dismiss="alert" onclick="$('#err_login').hide();">&times;</button>
        Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.
    </div>
    {% endif %}
    <center>
        <div class="card text-white bg-success mb-3" style="position: absolute; top: 40%; left: 10%; right: 70%;">
            <div class="card-header">Авторизация</div>
            <div class="card-body">
                <h4 class="card-title">
                {% if next %}
                    {% if user.is_authenticated %}
                    <p>Ваша учетная запись не имеет доступа. Пожалуйста, войдите в систему под другой учетной записью.</p>
                    {% else %}
                    <p>Войдите под своей учетной записью.</p>
                    {% endif %}
                {% endif %}
                </h4>
                <p class="card-text">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.username.label_tag }}
                        <br>
                        {{ form.username }}
                        <br>
                        {{ form.password.label_tag }}
                        <br>
                        {{ form.password }}
                        <div>
                            <button type="submit" class="btn btn-danger" value="login">Login</button>
                        </div>
                    </form>
                </p>
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
        </div>
    </center>
</body>
</html>