<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    {% load static %}
    <script src="{% static 'js/d3.v5.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/polls">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/polls/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/polls/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <p>
        <strong>Количество оценок за день: </strong>{{ count_rating_day  }}
    </p>
    <p>
        <strong>Количество оценок за все время: </strong>{{ count_rating_all }}
    </p>
    <p>
        <strong>Количество графов в системе: </strong>{{ count_graph }}
    </p>
    <p>
        <strong>Количество размещений в системе: </strong>{{ count_layout }}
    </p>
    <p>
        <strong>Количество алгоритмов размещения: </strong>{{ count_algorithm }}
    </p>
    <p>
        <strong>Количество пользователей в системе: </strong>{{ count_user }}
    </p>
</body>
</html>