<!DOCTYPE html>
<html lang="en">
<head>
    <title>Graphs layouts</title>
    {% load static %}
    <script src="{% static 'js/d3.v5.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/polls">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/polls/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/polls/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <center>
        <form action="" method="post">
            <fieldset>
            {% for index, layout in layout_list %}
                <div class="card bg-light mb-3" style="max-width: 85vw;">
                    <div class="card-header">{{ layout.algorithm_name }}</div>
                    <div class="card-body graph" align="center">
                        {{ layout.svg|safe }}
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        {% for num in range %}
                            <label class="btn btn-outline-primary"><input type="radio" name="{{ layout.id }}_{{ index }}" value="{{ num }}">{{ num }}</label>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </fieldset>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </center>
    <script>
        d3.selectAll(".graph").select("svg").attr("width", "80vw").attr("height", null).select("rect").remove()
    </script>
</body>
</html>